<header class="header">
  <div class="logo">
    <span class="logo-icon">💳</span>
    <span class="logo-text">BANCO</span>
  </div>
</header>
<div class="search-section">
  <input
    type="text"
    class="search-input"
    placeholder="Search..."
    (input)="onSearchChange($event.target.value)"
  />
  <button class="add-button btn btn-primary" (click)="navigateToAddProduct()">Agregar</button>
</div>
<div class="table-card">
  <table class="products-table">
    <thead>
      <tr>
        <th>Logo</th>
        <th>Nombre del producto</th>
        <th>Descripción <i class="info-icon">ℹ️</i></th>
        <th>Fecha de liberación <i class="info-icon">ℹ️</i></th>
        <th>Fecha de reestructuración <i class="info-icon">ℹ️</i></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of paginatedProducts">
        <td>
          <div class="avatar">{{ getInitials(product.logo) }}</div>
        </td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.date_release | date: 'dd/MM/yyyy' : 'es-ES' }}</td>
        <td>{{ product.date_revision | date: 'dd/MM/yyyy' : 'es-ES' }}</td>
        <td>
          <div class="dropdown" [class.open]="product.id === openDropdownId">
            <button
              class="dropdown-btn"
              (click)="$event.stopPropagation(); toggleDropdown(product.id)"
            >
              &#8942;
            </button>

            <div class="dropdown-menu" *ngIf="product.id === openDropdownId">
              <button (click)="editProduct(product)">Editar</button>
              <button (click)="deleteProduct(product)" class="delete-option">Eliminar</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="table-footer">
  <span class="results-count">{{ filteredProducts.length }} Resultados</span>
  <select class="page-size-selector" #pageSelect (change)="onPageSizeChange(pageSelect.value)">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="20">20</option>
  </select>
</div>

<div class="pagination" *ngIf="totalPages > 1">
  <button class="page-btn" [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">
    Anterior
  </button>
  <span class="page-info"> Página {{ currentPage }} de {{ totalPages }} </span>
  <button
    class="page-btn"
    [disabled]="currentPage === totalPages"
    (click)="goToPage(currentPage + 1)"
  >
    Siguiente
  </button>
</div>

<!-- Modal de eliminación -->
<app-modal-delete
  [isVisible]="showDeleteModal"
  [productName]="productToDelete?.name || ''"
  (confirm)="confirmDelete()"
  (cancel)="closeDeleteModal()"
>
</app-modal-delete>
