:host {
  display: block;
  background-color: #f4f7f9;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #ffffff;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e1e4e8;
  margin-bottom: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #0f265c;
  font-weight: bold;
  font-size: 1.2rem;
}

.search-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto 1rem auto;
  padding: 0 20px;
}

.add-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ffed00;
  color: #0f265c;
}

.search-input {
  padding: 12px 15px;
  width: 250px;
  border: 1px solid #d1d9e6;
  border-radius: 4px;
  font-size: 0.9rem;
  outline: none;
}

.table-card {
  max-width: 1000px;
  margin: 0 auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 4px;
  overflow-x: auto;
}

.products-table {
  width: 100%;
  border-collapse: collapse;
}

.products-table th {
  text-align: left;
  padding: 15px;
  background-color: #f9fafc;
  color: #555;
  font-size: 0.85rem;
  font-weight: 600;
  border-bottom: 2px solid #f1f3f5;
}

.info-icon {
  color: #999;
  font-style: normal;
  font-size: 0.8rem;
  margin-left: 5px;
  cursor: help;
}

.products-table td {
  padding: 15px;
  border-bottom: 1px solid #f1f3f5;
  color: #333;
  font-size: 0.9rem;
}

.avatar {
  width: 45px;
  height: 45px;
  background-color: #d8e2ef;
  color: #7a8ba3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.8rem;
}

.table-footer {
  max-width: 1000px;
  margin: 10px auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #666;
  font-size: 0.9rem;
}

.page-size-selector {
  padding: 8px 12px;
  border: 1px solid #d1d9e6;
  border-radius: 4px;
  background: white;
  cursor: pointer;
}

/* F5 menu */
/* Contenedor relativo para que el menú se posicione respecto al botón */
.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
}

.dropdown-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #666;
  padding: 0 10px;
}

/* menu contextual F5 */
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  min-width: 120px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.dropdown-menu button {
  padding: 10px 15px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s;
}

.dropdown-menu button:hover {
  background-color: #f5f5f5;
}

.delete-option {
  color: #dc3545;
}
